*{
  font-family: 'Montserrat', sans-serif;
}
.navbar{
  height: 105px;
  background-color: white;
}
.upper_nav{
  height: 40px;
  background-color: white;
  border-bottom: 1px solid #e5e8ed;
}
.downer_nav{

  background-color: white;
}
.upper_left{
  background-color: white;
  height: 39px;
}
.my-btn-primary{
  background-color: #5ed8d2;
  border-radius: 5px;
  font-size: 8px;
  font-weight:bold;
  border: none;
  margin: 8px;
  color: #324bd2;
  margin-left: 30px;
}
.upper_right{
  background-color: white;
  height: 39px;
}.downer_left{
  height: 65px;
  background-color: lightgrey;
}
.my_logo{
  height: 30px;
  margin-left: 30px;
  margin-top: 18px;
}
.downer_right{
  height: 65px;
  background-color: white;
}
